li.dev-item {
    background: #42616e;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    padding: 20px;
}

li.dev-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img{
    width: 83px;
    height: 83px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
}

li.dev-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: #eee;
}

.user-info span {
    font-size: 13px;
    color: #f7ccc0ec;
    margin-top: 2px;
}

li.dev-item p {
    color: rgb(173, 173, 173);
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 ;

}

li.dev-item a {
    color: #e84d49;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s;

}

li.dev-item a:hover {
    color: #da4944;
}
